@{
    ViewData["Title"] = "Update TypeEmployee";
}

<h1>@ViewData["Title"]</h1>
<br />

@section styles
{
    <link href="~/lib/datatables.net-bs5/datatables.bootstrap5.min.css" rel="stylesheet" />
}

<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-md-3">
            <a asp-controller="TypeEmployee" asp-action="Index" class="btn btn-success">Volver al sitio anterior</a><br />
        </div>
    </div>

    <div class="card-body">
        <form id="contactForm" asp-controller="TypeEmployee" asp-action="Update" method="post">

            <!--ID del empleado que se actualizará-->
            <input type="hidden" name="Id" value="@Model.Id" />

            @if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger">
                    @Html.ValidationSummary()
                </div>
            }
            <div class="mb-3">
                <label class="form-label" for="Nombre">Nombre</label>
                <input class="form-control" id="Nombre" name="Nombre" type="text" value="@Model.Nombre" required />
            </div>
            <div class="mb-3">
                <label class="form-label" for="EsActivo">Estado</label>
                <select id="EsActivo" class="form-control" name="EsActivo" required>
                    @{
                        var options = new List<TagBuilder>();

                        var optionTrue = new TagBuilder("option");
                        optionTrue.Attributes["value"] = "true";
                        if (Model.EsActivo)
                        {
                            optionTrue.Attributes["selected"] = "selected";
                        }
                        optionTrue.InnerHtml.Append("Active");
                        options.Add(optionTrue);

                        var optionFalse = new TagBuilder("option");
                        optionFalse.Attributes["value"] = "false";
                        if (!Model.EsActivo)
                        {
                            optionFalse.Attributes["selected"] = "selected";
                        }
                        optionFalse.InnerHtml.Append("Inactive");
                        options.Add(optionFalse);

                        foreach (var option in options)
                        {
                            @option
                        }
                    }
                </select>
            </div>
            <div class="row mb-3">
                <div class="col-md-3">
                   <br /> <button type="submit" class="btn btn-success">Update</button>
                </div>
            </div>
        </form>
    </div>
</div>
